<a href="https://colab.research.google.com/github/ayesha-siddiqui17/Ayesha_DTSC3020_Fall2025/blob/main/assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 1**

In [1]:
# 1: Fruits List
# print entire list

fruits = ["apple", "banana", "orange"]
print(fruits)

['apple', 'banana', 'orange']

In [2]:
# print each item individually

print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
orange

**Exercise 2**

In [3]:
# 2: Names List
# change first name in list
# print new list

names = ["Ayesha", "Zayne", "Bella", "Loid"]
names[0] = "Sasha"
print(names)

['Sasha', 'Zayne', 'Bella', 'Loid']

**Exercise 3**

In [4]:
# 3: Vehicles List
# add one more vehicle to end of list
# print list

vehicles = ["car", "bike", "bus", "train", "motorcycle"]
vehicles.append("truck")
print(vehicles)

['car', 'bike', 'bus', 'train', 'motorcycle', 'truck']

**Exercise 4**

In [5]:
# 4: Foods List
# remove one food from list
# print new list

foods = ["sushi", "ramen", "fried chicken", "burger", "pasta", "pizza"]
foods.remove("fried chicken")
print(foods)

['sushi', 'ramen', 'burger', 'pasta', 'pizza']

**Exercise 5**

In [11]:
# 5: Cities List
# sort in alphabetical order
# reverse list

cities = ["London", "Seoul", "Istanbul", "Tokyo"]
cities.sort()
print("Alphabetical: ", cities)

cities.reverse()
print("Reversed: ", cities)

Alphabetical:  ['Istanbul', 'London', 'Seoul', 'Tokyo']
Reversed:  ['Tokyo', 'Seoul', 'London', 'Istanbul']

**Exercise 6**

In [7]:
# 6: Animals list
# use for loop to print each animal

animals = ["deer", "panda", "otter"]
for animal in animals:
  print(animal)

deer
panda
otter

**Exercise 7**

In [8]:
# 7: Numbers List (loop)
# use for loop to print each number multiplied by 2

numbers = [1, 2, 3, 4, 5]
for number in numbers:
  print(number * 2)

2
4
6
8
10

**Exercise 8**

In [10]:
# 8: Friends list
# print first three friends
# print last three friends

friends = ["Kate", "Meerab", "Salma", "Maki", "Hafsa", "Isabell"]
print("first three: ", friends[0:3])
print("last three: ",friends[3:6])

first three:  ['Kate', 'Meerab', 'Salma']
last three:  ['Maki', 'Hafsa', 'Isabell']

**Exercise 9**

In [12]:
# 9: Range Function
# Use range() to create list from 1 to 10
# print list

numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Exercise 10**

In [13]:
# 10: List Comprehension
# Use list comprehension to create list with squares of numbers from 1 to 5.
# print list

squares = [number**2 for number in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]